.price-Section {
  width: auto;
  min-height: 768px;
}

.container {
  margin: 0 137px;

  padding-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.text {
  width: 274px;
  height: 92px;
  left: 204.07px;
  font-family: "Overlock";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  color: #ffffff;
  margin-bottom: 50px;
}
.pricing-card {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.card {
  font-family: "Overlock";
  width: 349.09px;
  padding: 8px;
  border-radius: 12px;
}

.card-gray {
  background: rgba(48, 136, 255, 0.05);
  color: #040415;
}
.card-blue {
  background: #2d5bff;
  color: white;
}

.icon {
  font-size: 26px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.card-hading hr {
  color: orange;
  height: 5px;
  background-color: orange;
  margin-top: 12px;
}

.card-hading h2 {
  margin-bottom: -19px;
}
.card-btn {
  width: 273.22px;
  height: 46px;
  display: inherit;
  background: #f6a00e;
  border: none;
  border-radius: 12px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pricing-level p i{
  padding-right: 5px;
}

.pricing {
  text-align: center;
  margin: 50px 0;
}
.subs-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pricing-btn {
  padding: 12px 50px;
  border-radius: 7px;
  margin: 0 10px;
}
.pricing-btn p {
  margin: 0;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
}
.gray {
  background: rgba(48, 136, 255, 0.16);
}
.blue {
  background: #3088ff;
}

.pricing-dialog {
  width: 582px;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(4, 4, 21, 0.6);
  margin: 0 auto;
  padding: 30px 0;
}

.inner-container {
  margin: 0 10px;
}

.sd {
  box-shadow: 10px 10px 22px rgba(45, 91, 255, 0.28);
}
